@page "/Post"
@page "/post/update/{Id}"

@inject IPostInterface postservice
<div class="">
  @if (string.IsNullOrWhiteSpace(newPost.Title))
        {
            <h1> Add Post</h1>
        }
        else
        {
            <h1> Update Post</h1>
        }
<EditForm Model="newPost" OnValidSubmit="AddPosts">
    <div class="form-group p-2">
        <label for="name">Title</label>
        <InputText type="Title" class="form-control p-2" id="Title" @bind-Value="@newPost.Title" aria-describedby="name" />
        <ValidationMessage For="@(()=>newPost.Title)" />
    </div>
    <div class="form-group p-2">
        <label for="name">Description</label>
        <InputText type="Description" class="form-control p-2" id="Description" @bind-Value="@newPost.Description" aria-describedby="name" />
        <ValidationMessage For="@(()=>newPost.Description)" />
    </div>
    <div class="form-group p-2">
        <label for="name">ImageUrl</label>
        <InputText type="ImageUrl" class="form-control p-2" id="ImageUrl" @bind-Value="@newPost.ImageUrl" aria-describedby="name" />
        <ValidationMessage For="@(()=>newPost.ImageUrl)" />
    </div>
    <div class="flex-row m-2" p-2>
         @if (newPost.PostId == Guid.Empty)
                {
                    <button type="submit" style="width:150px" class=" p-2 m-1 btn btn-primary">Add Product</button>
                }
                else
                {
                <button type="submit" style="width:150px" class=" p-2 m-1 btn btn-primary">Update Product</button>
                }
    </div>
</EditForm>
    
</div>

@code{
    private PostDto newPost = new PostDto();
     [Parameter]
    public  string Id { get; set; }

     [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    private async Task AddPosts(){
        var authstate = await _authState;
        var userId = authstate.User.FindFirst("sub")?.Value;
        newPost.UserId = Guid.Parse(userId);
        var res = await postservice.AddPostAsync(newPost);

        newPost.Title = "";
        newPost.Description = "";
        newPost.ImageUrl = "";
        Console.WriteLine(res);
    }

     protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(Id))
        {
            newPost = await postservice.GetPostByIdAsync(Guid.Parse(Id));
        }
       
    }
}